# NetBeans + Intellij git ignore file
/nbproject/
/.idea/

# output directories
/build/
/dist/
/out/

# legacy files etc.

/jquery-ui/
/uploadify/

/src/TSA-Service.iml

/web/js/
/web/css/
/web/uploadify/

/web/iframe.html
/web/web.iml
/web/index.html.b
/web/jquery-ui.html

/web/simple.html
/web/stamp-chrome.html
/web/stamp-jUI.html
/web/stamp-upl.html
