/web/index.html.b
/web/jquery-ui.html
/web/js/
/web/css/
/dist/
/out/production/TSA-Service/com/cesnet/pki/tsa/DownloadServ.class
/out/production/TSA-Service/com/cesnet/pki/tsa/TSAConnector$Pair.class
/out/production/TSA-Service/com/cesnet/pki/tsa/TSAConnector.class
/.idea/libraries/lib.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
/src/TSA-Service.iml
/web/iframe.html
/web/web.iml
/out/production/TSA-Service/log4j2.xml